<!-- <p>hello from tutorial.liquid</p> -->
{% assign myVariable = 'Hello World' %}
{{ myVariable }}
{% comment %} String {% endcomment %}
{% assign myString = 'bye earth' %}
{{ myString }}
<br>

{% assign myNumber = '1234' %}
{% assign myFloatingPoint = '567.8' %}
{{ myNumber }}, {{ myFloatingPoint }}
